@charset "UTF-8";

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underLine;
}

a:active {
	color: pink
}

a:visited {
	color: blue;
}

ul {
	list-style-type: none;
}

ul {
	list-style-type: decimal;
}

ul {
	list-style-type: Lower-roman;
}

ul {
	list-style-image: url('./img/피카츄아이콘.png')
}