<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SSAFY</title>
  <style type="text/css">
  #first div {color: blue ;}
  </style>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id='first'>
   <div v-html="title"></div>
   <div v-text="title"></div>
   <div>{{title}}</div>
   <div>{{showHrm()}}</div>
   <div>{{showMyName('Hello HRM')}}</div>
   <div v-on:click="changeMyName">{{title}}</div>
   <div @click="changeMyName">{{title | toH3('ggg') }}</div>
   <div @click="changeMyName">{{title | toH2('ggg') }}</div>
   <div @click="changeMyName">{{title | toH1('ggg') }}</div>
   <div @click="changeMyName">{{title | toUpper('ggg') }}</div>
   <div @click="changeMyName">{{title | toLower('ggg') }}</div>
</div>
<script type="text/javascript">
  var model = {title : '<h2>SSAFY</h2>'};
  var first = new Vue({
      el : '#first',
      data : model,
      filters:{
    	  toH3(value,arg){
    		  var s="";
    		  for(i=0; i<5; i++){
    			  s+=arg;
    		  }
    		  return s;
    	  },
    	  toH2(value,arg){
    		  var s="TT";
    		  return s;
    	  },
    	  toUpper:function(value){
    		  return value.toUpperCase();
    	  },
    	  toLower:function(value){
    		  return value.toLowerCase();
    	  }
      }, 
      methods: {
          showHrm : function() {
             return " SSAFY HRM  "+new Date();
          },
          showMyName : function(name, $event) {
              return name+' '+new Date();
          },
          changeMyName : function() {
        	  this.title='SSAFY HRM SSAFY HRM';
          }
       }
   });
  Vue.config.devtools = true; // devtools에 보인다.
</script>
</body>
</html>