<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SSAFY</title>
  <style type="text/css">

  
  .highlight{
	background-color: yellow;
	}

  </style>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id='first'>
   <div v-html="title"></div>
   <div>{{title}}</div>
   <div v-if='hasResult'>{{title|toH3('하이')}}</div>
   <div v-if='hasResult'>{{title|highlight}}</div>
</div>
<script type="text/javascript">
  var model = {title : '<h2>SSAFY</h2>', name: '홍길동'};
  
  Vue.filter('highlight', function(words, query){
	    var iQuery = new RegExp(query, "ig");
	    return words.toString().replace(iQuery, function(matchedTxt,a,b){
	        return ('<span class=\'highlight\'>' + matchedTxt + '</span>');
	    });
	});
  
  var first = new Vue({
      el : '#first',
      data : model,
      filters:{
    	  toH3(value,arg){
    		  var s="";
    		  for(i=0; i<5; i++){
    			  s+=arg;
    		  }
    		  return s;
    	  },
    	  toH2(value,arg){
    		  var s="TT";
    		  return s;
    	  },
    	  toUpper:function(value){
    		  return value.toUpperCase();
    	  },
    	  toLower:function(value){
    		  return value.toLowerCase();
    	  }
    	 /*  
    	  highlight: function(words){
				return words.replace(words, '<span class=\'highlight\'>' + words + '</span>')
			} */
      }, 
      methods: {
          showHrm : function() {
             return " SSAFY HRM  "+new Date();
          },
          showMyName : function(name, $event) {
              return name+' '+new Date();
          },
          changeMyName : function() {
        	  this.title='SSAFY HRM SSAFY HRM';
          }
       },
       computed:{
    	   hasResult : function(){
    		   this.name="홍길동";
       		return this.title.length>4;
           }
       }
   });
  Vue.config.devtools = true; // devtools에 보인다.
</script>
</body>
</html>