<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SSAFY</title>
<style>
#first div {
	color: blue;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id='app'>
		<h1>SSAFY SAFE FOOD</h1>
		<fieldset id="checkboxArea1">
			<legend>알레르기 체크</legend>
			<input type="checkbox" name = "box" value="대두" v-model="alergen"> 
			<label>대두</label>
			<input type="checkbox" name = "box" value="땅콩" v-model="alergen"> 
			<label>땅콩</label>
			<input type="checkbox" name = "box" value="우유" v-model="alergen"> 
			<label>우유</label>
		</fieldset>
		
		<fieldset id="checkboxArea2" v-if='moreZero'>
			알러지 요인들 : <span v-html="alergen"></span>
		</fieldset>
	</div>
	<script type="text/javascript">
		var model = {alergen :[]};
		
		var first = new Vue({
			el : '#app',
			data : model,
			computed :{
				moreZero: function(){
					return this.alergen.length > 0
				}
			}
		});
		Vue.config.devtools = true;
	</script>
</body>
</html>