<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SSAFY</title>
<style>
#first div {
	color: blue;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id='allergenes1'>
		<h1>SSAFY SAFE FOOD</h1>
		<fieldset id="checkboxArea1">
			<legend>알레르기 체크</legend>
			<template v-for ="alergin in alergens">
				<input type="checkbox" name = "box"
				v-bind:value="alergin" v-model="alergen"/>
				<label>{{alergin}}</label>	
			</template>
		</fieldset>
		
		<fieldset id="checkboxArea2" v-if='moreZero'>
			알러지 요인들 : <span v-html="alergen"></span>
		</fieldset>
	</div>
	<script type="text/javascript">
		var model = {
			alergen :[],
			alergens: ["대두","땅콩","우유","게","새우","참치","연어","쑥","소고기","닭고기","돼지고기","복숭아","민들레","계란흰자"]
		};
		
		var allergenes1 = new Vue({
			el : '#allergenes1',
			data : model,
			computed :{
				moreZero: function(){
					return this.alergen.length > 0
				}
			}
		});
		Vue.config.devtools = true;
	</script>
</body>
</html>