<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SSAFY</title>
<style type="text/css">
#first div {
	color: blue;
}
</style>
<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id='first'>
		<div v-html="title"></div>
		<div v-on:click="changeMyName">{{title}}</div>
		<div @click="changeMyName">{{title}}</div>
	</div>

	<script type="text/javascript">
		var model = {
			title : '<h2>SSAFY</h2>'
		};
		var first = new Vue({
			el : '#first',
			data : model,
			methods : {
				changeMyName : function() {
					this.title = '<h2>SSAFY HRM SSAFY HRM</h2>';
				}
			}
		});
		Vue.config.devtools = true;
	</script>
</body>
</html>