<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" type="text/css" href="./table.css"/>
<title>SSAFY</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id='app'>
    <component v-bind:is = "currentview"></component>
</div>
<script type="text/x-template" id="listhrmtemplate">
<div>
<div class='headtitle'><h2>SSAFY HRM LIST</h2></div>
<div class='search_box'>
<a href='./index4.html'>사원추가</a> | 
<a href='./index3.html'>이름으로 찾기</a> |
<a href='./index2.html'>아이디로 찾기</a> |
<a href='./index1.html'>모든사원 보기</a>
</div>
<div>
<table class='list_table'>
<col width="10%"><col width="20%">
<col width="20%"><col width="20%"><col width="10%">
<tr>
  <th>사원 아이디</th>
  <th>사원명</th>
  <th>부서</th>
  <th>직책</th>
  <th>연봉</th>
</tr>
<tr v-for="emp in info">
  <td v-html="emp.id" @click="show_detail(emp.id)"></td>
  <td v-html="emp.name"></td>
  <td v-html="emp.dept_id"></td>
  <td v-html="emp.title"></td>
  <td>{{ emp.salary | salarydecimal }}</td>
</tr>
</table>
</div>
<div>
</script>
<script type="text/javascript">
var listhrm = Vue.component('listhrm',{
    template: '#listhrmtemplate',
    data(){
        return {
          info: [],
          loading: true,
          errored: false 
        }
      },
      methods:{
    	  show_detail:function(employeeid){
    		  alert(employeeid);
    		  //App.empid=employeeid;
    		 //App.currentview = 'detail'
    		}  
      },
      filters: {
    	   salarydecimal (value) {
          return value.toFixed(2)
        }
      }, 
      mounted () {
        axios
          .get('http://localhost:8197/ssafyvue/api/findAllEmployees')
          //.get('./emp.json')
          .then(response => (this.info = response.data))
          .catch(error => {
            console.log(error)
            this.errored = true
          })
          .finally(() => this.loading = false)
      }
});

new Vue({
  el: '#app',
  data: {
	  currentview: 'listhrm'
   }
})
 </script>
</body>
</html>