<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SSAFY</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="first">
	<h2>{{title}}</h2>
</div>
<script type="text/javascript">
	var model = {title:'SSAFY'};
</script>
</body>
</html>