<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SSAFY</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="first">
	<div v-html="title"></div>
	<div v-text="title"></div>
	<h2>{{title}}</h2>
</div>
<script type="text/javascript">
	var model = {title:'SSAFY'};
	var first = new Vue({
		el : '#first',
		data : model
	});
</script>
</body>
</html>