<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SSAFY</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="first">
	<div v-html="title"></div>
	<div v-text="title"></div>
	<h2>{{title}}</h2>
	<div>{{showHrm()}}</div>
	<div>{{showMyHrm("홍길동")}}</div>
	<div style='border:solid 1px red' v-on:click="changeMyName()">{{title}}</div>
</div>
<script type="text/javascript">
	var model = {title:'<h2>SSAFY<h2>'};
	var first = new Vue({
		el : '#first',
		data : model,
		methods:{
			showHrm:function(){
				return "SAFFY HRM " + new Date();
			},
			showMyHrm:function(name){
				return name+new Date();
			},
			changeMyName:function($event){
				alert($event);
				console.log($event);
				this.title='SSAFY HRM SSAFY HRM';
			}
		}
	});
	
</script>
</body>
</html>