<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>B_HW_Vue_04</title>
<link rel="stylesheet" type="text/css" href="./table.css"/>
<style type="text/css">
.warn{
	color:red
}
</style>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
<div id='app'>
	<span v-if="loading" class="warn">로딩중</span>
	<span v-if="errored" class="warn">에러. 다시요청해주세요</span>
	
	<!-- 작성하세요... -->
	<div>
		조회할 페이지 
		<select name='page' v-model="page" @change="onChange">
			<option v-for="c in count">{{c}}</option>
		</select>
	</div>
		
	<table class='list_table'>
		<col width="10%">
		<col width="20%">
		<col width="20%">
		<col width="30%">
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Avatar</th>
		</tr>
		
			
		<!-- 작성하세요... -->
		<tr v-for="user in users">
			<td v-html="user.id"></td>
			<td v-html="user.first_name"></td>
			<td v-html="user.last_name"></td>
			<td><img v-bind:src="user.avatar"></td>
		</tr>
	</table>

	<script type="text/javascript">
    new Vue({
        el: '#app',
        data : {
           	page : 1,
            count: [],
            users: [],
            loading: true,
            errored: false
        },
        methods: {
            onChange(event) {
            	this.loading = true;
                console.log(event.target.value);
                axios.get('https://reqres.in/api/users', {
                    params: {
                        page: this.page
                      }
                    })
                .then(response => {
                    this.users = response.data.data 
                })
                .catch(error => {
                    console.log(error)
                    this.errored = true
                })
                .finally(() => this.loading = false)
            }
        },
        
       mounted(){
            axios
            	.get('https://reqres.in/api/users')
                .then(response => {
                    this.count = Array.from({ length: response.data.total_pages }, (v, k) => k + 1);
                    this.users = response.data.data 
                })
                .catch(error => {
                    console.log(error)
                    this.errored = true
                })
                .finally(() => this.loading = false)
        }
    });
    Vue.config.devtools = true;
</script>
</body>

</html>